* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.underline {
     position: relative;
     &::before {
          content: "";
          position: absolute;
          bottom: 0;
          background: url(/images/accesories/underline.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 100%;
          height: 100%;
          top: 100%;
     }
}
